.main {
  background: #FFFFFF;
  height: 54px;
  width: 100%;
  line-height: 54px;
  padding-left: 32px;

  span {
    a {
      color: rgba(0, 0, 0, 0.45);
    }

    &:last-child {
      a {
        font-family: PingFangSC-Regular, serif;
        color: #000000
      }
    }
  }
}
