.logo_container {
  height: 64px;
  padding: 0 10px;
  background: white;

  .logo {
    width: 100%;
    height: 64px;
    box-sizing: border-box;
    color: white;
    background: url("../assets/logo.png") no-repeat center;
    background-size: 100%;
  }
}
