.main {
  .head {
    height: 188px;
    background: #FFFFFF;

    .task_first {
      padding: 0 32px 0 76px;
      font-family: PingFangSC-Medium, serif;
      color: rgba(0, 0, 0, 0.86);
      font-size: 20px;
      height: 28px;
      line-height: 28px;

      .first_btn {
        float: right;

        button {
          height: 32px;
          width: 74px;
          margin-left: 8px;

          &:nth-child(2) {
            background-color: red;
            border: 1px red solid;
          }
        }
      }
    }

    .task_second {
      margin-top: 18px;
      padding: 0 150px 0 76px;

      div:first-child {
        display: inline-block;

        p {
          span {
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            font-family: PingFangSC-Regular, serif;

            &:first-child {
              color: rgba(0, 0, 0, 0.85)
            }

            &:last-child {
              color: rgba(0, 0, 0, 0.65)
            }
          }
        }
      }

      div:last-child {
        text-align: right;
        float: right;
        font-family: PingFangSC-Regular, serif;

        p {
          &:first-child {
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.45)
          }

          &:last-child {
            font-size: 20px;
            height: 28px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.85)
          }
        }
      }
    }

    .task_third {
      height: 34px;
      width: 60px;
      margin-left: 24px;
      text-align: center;
      border-bottom: 2px solid #1890FF;
      font-family: PingFangSC-Medium, serif;
      color: #1890FF;
    }
  }

  .progress {
    margin: 40px 24px 0;

    .pro_title {
      padding-left: 32px;
      height: 40px;
      border-bottom: 1px solid rgba(112, 112, 112, 0.4);

      p {
        font-size: 16px;
        height: 24px;
        line-height: 24px;
        font-family: PingFangSC-Medium;
        color: rgba(0, 0, 0, 0.85)
      }
    }
  }
}
